nav {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.5rem 1.5rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    -webkit-animation: moveToTop 10s ;
    animation: moveToTop 1s ease both;
    animation-delay: 0.5s;
}

.nav-bar-link {
    background: transparent;
    padding: 0.8rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.5rem;
    cursor: pointer;
}

.nav-bar-link:hover {
    background: rgba(0, 0, 0, 0.3);
}

.nav-bar-link-active {
    background: var(--color-bg);
    color: var(--color-white)
}


  @keyframes moveToTop {
    from {
        transform: translateX(-50%) translateY(200%)
    }
    to {
        transform: translateX(-50%) translateY(0);
    }
  }